@import '../css/variables.css';

@component app {

  width: $app_width;
  min-height: 300px;
  padding: 10px;
  background: $primary_bg;
  border-radius: 3px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .17);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;

  @descendent css-value {
    background-color: $mid_bg;
    padding: 10px;
    border-radius: 3px;
    margin: 10px 0;
  }

}
