@import '../css/variables.css';

@component bezier-tool {

  width: 100%;
  height: 220px;
  overflow: visible;
  position: relative;
  z-index: 1;

  @descendent container {
    overflow: visible;
    position: relative;
  }

  @modifier bg {
    fill: $dark_bg;
  }

  @modifier bg-dark {
    fill: $darker_bg;
  }

  @modifier border-bg {
    fill: $mid_bg;
  }

  @modifier curve {
    fill: none;
    stroke: $curve_color;
    stroke-width: 3px;
    opacity: .8;
  }

  @modifier handle {
    cursor: pointer;
  }

  @modifier type1 {
    stroke: $handle1_color;
  }

  @modifier type2 {
    stroke: $handle2_color;
  }

}
