@import '../css/variables.css';

@component bezier-tool {

  width: calc($app_width - calc($app_padding * 2));
  height: calc($app_width - calc($app_padding * 2));
  overflow: visible;
  position: relative;

  @descendent container {
    overflow: visible;
    position: relative;
  }

  @modifier bg {
    fill: $dark_bg;
  }

  @modifier bg-dark {
    fill: $darker_bg;
  }

  @modifier border-bg {
    fill: $mid_bg;
  }

  @modifier curve {
    fill: none;
    stroke: $curve_color;
    stroke-width: 3px;
    opacity: .8;
  }

  @modifier handle {
    cursor: pointer;
  }

}
